[Unit]
Description=Keys bind mount from ISO persistent partition
RequiresMountsFor=/run/archiso/persistent

[Mount]
What=/run/archiso/persistent/etc/cryptsetup-keys.d
Where=/etc/cryptsetup-keys.d
Type=None
Options=bind,nofail
DirectoryMode=0700
TimeoutSec=5

[Install]
WantedBy=multi-user.target
