[Unit]
Description=Set up an user if not found on the system
After=systemd-homed.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/user-setup user
ExecStop=
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
