[Unit]
Description=Resolve dongle persistent setup if placed on a write-once device.

[Service]
Type=oneshot
ExecStart=/usr/local/bin/resolve-dev-mapper-donglepersistent start
ExecStop=/usr/local/bin/resolve-dev-mapper-donglepersistent stop
RemainAfterExit=yes

[Install]
WantedBy=blockdev@.target
