[Unit]
Description=Bluetooth data directory bind mount
RequiresMountsFor=/run/archiso/persistent

[Mount]
What=/run/archiso/persistent/var/lib/bluetooth
Where=/var/lib/bluetooth
Type=None
Options=bind,nofail
DirectoryMode=0755
TimeoutSec=5

[Install]
WantedBy=multi-user.target
